<h3>Station List</h3>

<div class="collection">
  <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
  <a href="#!" class="collection-item">Alan<span class="new badge">4</span></a>
  <a href="#!" class="collection-item">Alan</a>
  <a href="#!" class="collection-item">Alan<span class="badge">14</span></a>
</div>

<table>
  <tr>
    <th> Station Name </th>
    <th> Available Bikes </th>
    <th> Available Docks </th>
    <th> Total Docks </th>
  </tr>

  <% @stations.each do |station| %>
    <tr>
      <td>  <%= link_to "#{station.station_name}", station %> </td>
      <td> <%= station.available_bikes %> </td>
      <td> <%= station.available_docks %> </td>
      <td> <%= station.total_docks %> </td>
    </tr>
  <% end %>
</table>
