.main-container {
  height:100% !important;
}

.control-center {
  background-color: #BFEFFA;
  height: 100% !important;
}

/*
Why is my 100% settings not working properly. CSS really sucks.

*/

.map-container {
  background-color:#8DFAD8;
  height: 380px !important;
}

/*#map {
  height: 100%;
}*/

.test-div {
  height: 100%;
}
