<div id="advancedPlanning" class="tab-pane fade">
  <h3>Advanced planning </h3>
  <ul>
    <li>This will enable users manually map out stations.</li>
    <li>can select multiple stations to see them appear on map.</li>
    <li>can select start and end point and also select points in between.</li>
  </ul>
</div>
