<!-- decide if it's really necessary to make a form now.  -->
<br>
<br>
<div id="tripPlanning" class="tab-pane fade in active">
  <%= form_tag do  %>
    <!-- TODO: replace the select with a search box so user can type name of stations and filter list.  -->
    <div class="form-group">
      <%= label_tag(:selected_station, "Select Station: ") %>
      <%=  select_tag(:selected_station, options_from_collection_for_select(@stations, :id, :station_name), class: "form-control")%>
    </div>
    <%= button_tag("View", type: "button", class: "view-station btn btn-default" ) %>
  <% end %>

<br>
<br>

<div class="current-station" data-id data-lat data-lng>
</div>
<br>
<br>

</div> <!-- end tab-pane -->
