<div id="tripPlanning" class="tab-pane fade">
  <h3>Trip Details </h3>
  <ul>
    <li>Form containing start and stop divvy stations.(in the future, should be any location not just divvy.)</li>
    <li>User will probably be able to see 5(or more) nearest stations around start and stop. </li>
    <li>At some point, be able to get user's current location and use for mapping.</li>
    <li>Possibly other things later.</li>
  </ul>
</div>
