<div id="stationView" class="tab-pane fade in active">
  <h3>Station</h3>
  <ul>
    <li>Search box to select which station you want to view here.</li>
    <li>View particular station here. Might have interaction with stations here.</li>
    <li>Some other things as they come to mind. </li>
  </ul>

  <%= form_tag do  %>
    <!-- TODO: replace the select with a search box so user can type name of stations and filter list.  -->
    <%#= label_tag(:station, "Station: ") %>
    <%#= text_field_tag(:station) %>
    <div class="form-group">
      <%= label_tag(:selected_station, "Station: ") %>
      <%=  select_tag(:selected_station, options_from_collection_for_select(@stations, :id, :station_name), class: "form-control")%>
    </div>
    <%= button_tag("View", type: "button", class: "view_station btn btn-default" ) %>
  <% end %>
</div>
