<div class="container-fluid main-container">

  <div class="control-center">
    control goes here
  </div>

  <div class="map-container">
    map goes here
  </div>


</div>

<!-- <div class="test-div teal lighten-2">
  test div here.
</div> -->




<script>

</script>
