<div class="row main-container">

  <div class="col s12 m4 l3 control-center light-blue lighten-5">
    control goes here
  </div>

  <div class="col s12 m8 l9 map-container green lighten-2">
    map goes here
  </div>


</div>

<!-- <div class="test-div teal lighten-2">
  test div here.
</div> -->




<script>
  $('body').addClass("grey lighten-3");
</script>
